* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  width: 100vw;
  font-family: "Roboto", sans-serif;
  overflow-x: hidden;
  position: relative;
}

.wrapper {
  width: 800px;
  margin: 0 auto 30px auto;
}

.social {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 30px 0px;
  border-width: 0px 0px 1px;
}

.fab {
  color: #272727;
  font-size: 15px;
  padding: 0 5px;
}

.nothing {
  font-size: 12px;
  color: #303133;
  text-transform: uppercase;
  font-weight: 600;
  padding: 20px 0;
  border-top: 1px solid#d8d8d8;
}

section {
  padding: 20px 0 20px 40px;
  border-top: 1px solid#d8d8d8;
}

section h1 {
  font-size: 17px;
  color: #303133;
}

section h2 {
  font-size: 11px;
  color: #777777;
  line-height: 20px;
  padding: 10px 0;
}

section p {
  color: #777777;
  font-size: 15px;
}

form {
  display: flex;
  flex-direction: column;
  border-top: 1px solid#d8d8d8;
}

textarea {
  margin: 5px 0;
  background-color: transparent;
  border: 1px solid #eaeaea;
  border-radius: 2px;
  border-width: 1px;
  color: #303133;
  font-size: 15px;
  padding: 10px 15px;
  resize: none;
}

label {
  color: #303133;
  font-size: 15px;
  font-weight: 600;
  line-height: 26.25px;
  margin: 15px 0 0 0;
}

input[type="text"] {
  margin: 5px 0;
  background-color: transparent;
  border: 1px solid #eaeaea;
  border-radius: 2px;
  border-width: 1px;
  color: #303133;
  font-size: 15px;
  padding: 10px 15px;
}

input[type="submit"] {
  margin-top: 15px;
  background-color: #f7f7f7;
  border: #eaeaea 1px solid;
  border-radius: 2px;
  color: #303133;
  font-size: 12px;
  font-weight: 600;
  padding: auto;
  width: 100px;
  height: 39px;
  text-align: center;
  text-transform: uppercase;
}

footer ul {
  display: flex;
}

footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 35px 10px 35px 10px;
  background-color: #080808;
  position: absolute;
  bottom: 0;
}

.footer-wrapper {
  width: 90vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
}

footer h1 {
  font-size: 13px;
  color: #eaeaea;
}

footer .fab {
  color: #eaeaea;
}
